@model BackgroundUpdateCache.Website.Models.CacheDto<IEnumerable<int>>

@{    
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>資料清單</h2>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var item in Model.Data)
            {
                <li>@item</li>
            }
            <li>Update Time: @Model.UpdateTime.ToString()</li>
        </ul>
    </div>
</div>

